.container-login {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.formulario-login {
  max-width: 300px;
  margin: 0 auto;
}

.esqueceu-senha {
  float: right;
}

.botao-login {
  width: 100%;
  background-color: #00001E; 
  border-color: #00001E;
}

.botao-login:hover {
  background-color: #000033; 
  border-color: #000033;
}
