.container-login {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.formulario-login {
  max-width: 300px;
  margin: 0 auto;
}

.esqueceu-senha {
  float: right;
}

.botao-login {
  width: 100%;
}

.esqueci-senha-message {
  margin-top: 3vh; 
  font-size: 16px;
  color: #ff4d4f;
}



