@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400;700&display=swap');

.caixa-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-login {
  width: 100%;
  margin-top: 10px;
}

.botao-login {
  background-color: black;
  margin-top: 20px;
  padding: 10px;
}


