.container {
  padding: 10px;
  display: flex;
  width: 75%;
  justify-content: center;
  align-items: center;
}

.option-dropdown {
  margin-top: 0;
  width: 70%;
  margin-left: 20%;
  align-items: center;
}

.titulo-consulta {
  font-size: 24px;
  font-weight: bold;
}

option {
  font-weight: normal;
  display: block;
  padding-block-start: 10px;
  padding-block-end: 10px;
  min-block-size: 10px;
  padding-inline: 5px;
  white-space: nowrap;
}

.container-div {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  width: 60%;
  margin-left: 5%;
  margin-right: 5%;
}
