
.ant-modal-content {
  background-color: #1c1c1c;
  border-radius: 10px;
  color: #ffffff;
}

.ant-modal p {
  margin-bottom: 20px;
  color: #000000;
}

.ant-checkbox-wrapper {
  display: flex;
  align-items: center;
  color: #000000;
}

.ant-btn-primary {
  background-color: #004d40;
  border-color: #004d40;
  color: #000000; 
}

.ant-btn-primary:hover {
  background-color: #00bfa5;
  border-color: #00bfa5;
}

.ant-btn {
  border-radius: 5px;
}

.ant-btn[disabled] {
  background-color: grey;
  border-color: grey;
  cursor: not-allowed;
  color: #ffffff;
}

.ant-modal-title {
  color: #ffffff; 
}
