/* Fundo da página */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f6f8; /* Fundo claro */
}

/* Botão principal */
.botao-grande {
  font-size: 24px;
  text-transform: uppercase;
  padding: 0 40px;
  height: 60px;
  border-radius: 8px;
  background-color: #00bfa5; /* Verde água */
  color: #ffffff;
  border: none;
  transition: background-color 0.3s ease;
}

.botao-grande:hover {
  background-color: #00796b; /* Verde escuro */
}

.botao-grande:focus,
.botao-grande:active {
  background-color: #00796b;
  border-color: #00796b;
  box-shadow: none;
}

/* Ajustando elementos do Ant Design para a nova paleta */
.ant-btn-primary {
  background-color: #00bfa5 !important;
  border-color: #00bfa5 !important;
  color: #ffffff !important;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus,
.ant-btn-primary:active {
  background-color: #00796b !important;
  border-color: #00796b !important;
  color: #ffffff !important;
  box-shadow: none !important;
}

/* Estilo do modal */
.ant-modal-content {
  background-color: #ffffff; /* Modal branco */
  color: #333333; /* Texto escuro para melhor legibilidade */
}

.ant-modal-title,
.ant-modal-body {
  color: #333333;
}

.ant-input,
.ant-select-selector {
  background-color: #ffffff; 
  color: #333333; 
  border: 1px solid #00bfa5;
}

.ant-input:hover,
.ant-select-selector:hover {
  border-color: #00bfa5;
}
