
  .menu-lateral {
    height: 100%;
    border-right: 0;
  }
  

.handle-resize {
  width: 5px;
  cursor: ew-resize;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: transparent;
}