.form-container {
  margin: 40px auto; /* Aumenta a margem superior para centralizar melhor */
  padding: 20px;
  border: 1px solid #e0e0e0; /* Cor mais suave para o border */
  border-radius: 10px;
  background-color: #fff; /* Fundo branco para contraste */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra mais suave */
}

/* Container das modais */
.modals-container {
  display: flex;
  gap: 20px; /* Espaço entre as modais */
  justify-content: center; /* Centraliza as modais */
  align-items: flex-start; /* Alinha as modais ao topo */
  white-space: nowrap;
  flex: 1; /* Garante que as modais ocupem o mesmo espaço */
  max-width: 800px; /* Define a largura máxima de cada modal */
}

.dias-buttons {
  display: flex;
  flex-wrap: nowrap;
  gap: 11px; /* Aumenta o espaço entre os botões */
  justify-content: center;
}

.dias-buttons button {
  background-color: #f1f1f1;
  color: #333;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.dias-buttons button:hover {
  background-color: #e2e2e2;
}

.dias-buttons button.selected {
  background-color: #007bff;
  color: white;
  border: 2px solid #0056b3;
}

.horarios-container {
  margin-top: 20px;
}

.horarios-container div {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.horarios-container input {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px;
  width: 100px;
  transition: border 0.3s;
}

.horarios-container input:focus {
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.add-horario, .submit-button {
  width: 100%; /* Para maior acessibilidade no mobile */
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-horario {
  background-color: #28a745;
  color: #fff;
}

.add-horario:hover {
  background-color: #218838;
}

.submit-button {
  background-color: #007bff;
  color: white;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Responsividade */
@media (max-width: 768px) {
  .form-container {
    padding: 20px;
  }

  .dias-buttons {
    gap: 8px;
  }

  .add-horario, .submit-button {
    padding: 10px;
    font-size: 14px;
  }
}
