/* Estilo para o formulário de disponibilidade */
.form-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.dias-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.dias-buttons button {
  background-color: #e0e0e0;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.dias-buttons button.selected {
  background-color: #007bff;
  color: #fff;
}

.horarios-container {
  margin-top: 20px;
}

.horarios-container div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.horarios-container input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
}

.horarios-container button {
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.horarios-container button:hover {
  background-color: #e60000;
}

.add-horario {
  margin-top: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-horario:hover {
  background-color: #218838;
}

.submit-button {
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

/* Estilo para a modal */
.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  width: 100%;
  box-sizing: border-box;
}

.modal-container h2 {
  margin-bottom: 20px;
  font-size: 22px;
}

.modal-container button {
  margin-top: 10px;
}

.div-modal{
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.botao-personalizacao{
  display: flex;
  justify-content: center;
  
}

.agenda-personalizacao{
  display: flex;
  justify-content: center;
  margin-top: 20%;
  margin-left: 30%;
  justify-content: space-between;
  width:40%;
}